
@import '~bootstrap/scss/bootstrap';

.btn-add-element {
    border-radius: 100px;
    background: #edf0f2;

    &:hover{
        background: #bdc7d0;
    }
}

.handle {
    &:hover {
        cursor: pointer;
    }
}

#products, #menus {
    .carte-delete-item {
        display: none;
    }
}

#products, #carte-menus {
    .menu-delete-product{
        display: none;
    }
}

.carte-delete-item, .menu-delete-product {
    cursor: pointer;
}

#menus, #carte-menus {
    .product-price, .product-action {
        display: none !important;
    }
}

#carte-menus {

    .menu-price, .menu-action {
        display: none !important;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
